External styles
        
        h2 {
            color: orange;
            font-size: 25px;
            }
        
        table {
            border-collapse: collapse;
            width: 70%;
            }
        
        
        body {
            background-color: pink;
            color: rgb(67, 195, 200);
            font-family: Roman;
        }
        
        th, td {
            border: 6px solid rgb(207, 197, 121);
        }
   